{
    "presets":
    [
      [
        '@babel/preset-env',
        {
          debug: false,
          targets: {
            node: 'current',
          },
        },
      ],
    ],
    "plugins": ["@babel/transform-runtime"]
}
